/* .word-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .word-form h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 140px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
   */
   .body{
    background-color: #f5f5ff;
    color: #3d0964;

   }

   h1{
  position: fixed;
    text-align: center;
    left: 570px;
    top:40px;
    color: #6a1ca6;
   }

   h2{
    position: fixed;
    text-align: center;
    left: 590px;
    top:100px;
    color: #6a1ca6;
   }
   .page {
    background-color: #f5f5ff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  .word-form {
    background-color: #d8d2ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .word-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .word-form .form-group {
    margin-bottom: 15px;
  }
  
  .word-form label {
    font-size: 18px;
    font-weight: bold;
  }
  
  .word-form input[type="text"] {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
  }
  
  .word-form button[type="submit"] {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 120px;
  }
  
  .word-form button[type="submit"]:hover {
    background-color: #6a1ca6;
  }
  